a {
    text-decoration: none !important;
}

h3 {
    text-align: center !important;
}

#stage img{
    width: 405px;
    height: 405px;
}

#search-block-form{
    margin: 0 auto;
    width: 80%;
}

#search-block-form .form-submit {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    margin: 0px auto;
    display: block;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.text-center {
    text-align: center !important;
}

.navbar {
    margin-bottom: 0px !important;
    padding: 0 2px 0 2px !important;
    background-color: #FF9100;
    border: none;
}

.navbar.container {
    max-width: 100% !important;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar-brand img {
    width: 90px!important;
    height: auto!important;
}

.navbar-default {
    border-radius: 10px !important;
}

.navbar-toggle {
    margin: 5px !important;
    padding: 12px 10px;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-header {
    float: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-header .brand-text {
    font-weight: bold;
    font-size: 2.3rem !important;
    padding: 10px 10px 0px 12px;
    display: inline-block;
    width: 35%;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
    text-align: center;
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.navbar-nav > li {
    float: none;
}

.navbar-nav > li > a {
    color: white !important;
}

.navbar-nav > li > a:hover {
    color: orange !important;
}

.navbar-collapse.collapse.in {
    display: block !important;
    background: black;
    font-size: 2rem;
    color: white;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}


#navbar-sticky-wrapper {
    background-color: #FF9100;
}

ul.menu {
    width: 75%;
}

.navbar-nav > li {
    margin: 0 7% 0 0;
}

.navbar-nav > li a {
    color: #FFF !important;
    font-weight: bolder;
    text-align: center;
}

.form-type-search .form-submit {
    width: 78px;
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.form-type-search {
    margin-top: 10px;
}

#envivo {
    background-color: darkred;
    color: #ffffff;
    font-weight: bold;
}

.envivo-text {
    text-align: center;
    margin: 0 auto;
    float: none;
    padding: 5px;
}

.envivo-text a {
    color: white;
}

#stage {
    color: black;
    padding: 10px;
    font-size: 2.3rem;
    display: block;
    margin-bottom: 30px;
    z-index: 0;
}

#stage .stage-title {
    font-size: 2rem !important;
    text-align: center;
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    height: 90px;
    padding: 5px;
    display: block;
}

#stage .stage-title a {
    font-size: 2rem !important;
    color: #000000;
    display: block;
}

.slick-dots li button:before {
    font-size: 69px;
}

.pleca-seccion{
    display: block;
    margin: 20px auto 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.nodeListItem {
    padding: 5px;
    margin-bottom: 10px;
}

.nodeListItem:hover {
    background-color: lightgray;
    opacity: .8;
}

.nodeListItem:hover .nodelist-audiolink {
    color: black;
}

.nodeListItemInner {
    padding: 5px;
    min-height: 200px;
    position: relative;
    border-bottom: solid 1px lightgray;
}

.nodeList-title {
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    min-height: 95px;
}

.nodeList-title a {
    color: #666666;
    text-align: center;
    color: black;
    font-size: 2rem !important;
}

.nodeList-category, .nodeList-autor {
    text-align: center;
    color: dimgray;

}

.nodeList-category {
    margin-top: 5px;
}

.nodeList-category a {
    font-size: 1.8rem;
    color: #000;
}

.nodeList-autor {
    font-size: 1.3rem;
}

.nodeList-autor a {
    font-size: 1.3rem;
    display: inline-block;
    font-weight: bold;
    color: dimgray;
}

.conductor-info {
    margin-bottom: 50px;
}

.conductor-item img {
    height: 45px !important;
    width: 50px !important;
    border-radius: 50%;
}

.programa a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
}

.conductor-name a, .condictor-name a {
    color: dimgray;
    font-weight: normal;
    font-size: 1.5rem;
}

.nodelist-autor .node-autor-name a, .conductor-name a {
    color: dimgray;
    font-weight: normal;
}

.nodelist-audiolink {
    background-color: red;
    width: 70%;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    clear: both;
}

.nodelist-audiolink a {
    color: white;
}

.nodeListItem .nodelist-audiolink {
    bottom: 15px;
    position: absolute;
    left: 0;
    right: 0;
}

.nombres-item {
    padding: 20px;
    background-color: #0d88c1;
    margin: 0 5px 20px 5px;
}

#nombres .nodeList-title {
    min-height: auto !important;
}

#nombres .nodeList-title a {
    font-size: 3rem;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
}

#nombres .nodeList-body {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.frases-item {
    background-color: deeppink;
    padding: 20px;
    margin: 0 5px 20px 5px;
    height: 250px;
    overflow: hidden;
}

#frases .nodeList-body {
    font-size: 2rem;
    margin: 20px;
    color: white;
    text-align: center;
}

#cursos h3 {
    text-align: center;
}

.curso-link {
    display: block;
    text-align: center;
    padding: 5px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.curso-link a {
    color: dimgray;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#newsletter-subscription {
    background-color: lightgray;
    color: white;
    position: relative;
    background: url('../images/newsletter-bg.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}

#newsletter-subscription-form{
    margin: auto ;
    float: none !important;
    display: block;
}

#newsletter-subscription-form-inner{
    margin-top: 50px ;
}

.newsletter-head-desktop img{
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
}

.newsletter-head {
    background-color: #FF9100;
    color: #000;
    text-align: center;
    display: none;
}

#newsletter-subscription .form-item {
    float: none;
    width: 100%;
}


.form-item-mergevars-email label {
    display: none;
}

.form-item-mergevars-fname, .form-item-mergevars-lname {
    display: none;
}

.form-submit {
    width: 220px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    margin: 20px auto;
    display: block;
}

#mailchimp-signup-subscribe-block-NaranXandul-mc-form-error-message {
    display: block;
    clear: both;
    font-weight: bolder;
}

#block-NaranXandul-footer ul {
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    padding: 10px 0 10px 0;
}

#block-NaranXandul-footer ul li {
    display: inline-block;
    float: left;
    margin: 0 15px 0 0;
    font-weight: bold;
}

.field--name-user-picture img {
    border-radius: 50%;
}

#bios .nodelist-title a {
    color: #FFF;
}

#footer-brand {
    height: 65px;
    margin: 0 auto;
    text-align: center;
    background-color: #FF9100;
}

#footer-brand .navbar-brand {
    margin: 0 auto;
    text-align: center;
    display: block;
    float: none;
}

#footer-brand img {
    margin: 0 auto;
    text-align: center;
}

#footer-brand-inner {
    width: 40%;
    margin: 0 auto;
}

#footer-brand-inner span {
    padding: 15px;
    display: inline-block;
    font-size: 1.5rem;
}

#footer-spotify {
    height: 50px;
    background-color: lightgray;
    padding: 5px;
}

#foot-year {
    padding: 20px;
    color: white;
}

.footer {
    margin-top: 0px !important;
    padding-top: 10px !important;
    border: none !important;
    padding-bottom: 0 !important;
}

.page-header {
    padding: 0 !important;
    border-bottom: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold
}

.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-second {
    padding: 20px 0 0 0 !important;
}

.region-content {
    padding-right: 5px;
}

.path-contact h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 30px;
}

.path-contact .form-actions {
    width: 100%;
    margin: 0 auto;
    float: none;
}

.path-contact #edit-submit {
    background-color: red;
    border: none;
    font-size: 2rem;
    width: 33% !important;
    margin: 0 auto;
    display: block;
}

.path-contact #edit-preview {
    background-color: orange;
    border: none;
    font-size: 2rem;
    display: none;
}

.path-contact .btn {
    margin-top: 10px;
    width: 150px !important;
}

.fb-widget-head {
    background: navy;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.tw-widget-head {
    background: deepskyblue;
    color: white;
    font-size: 2.5rem;
    margin: 0 10px 0 0;
    text-align: center;
}

.pager__item .button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 100px 10px 100px;
    font-weight: bold;
    border: solid lightgrey;
}

.node-date {
    float: right;
    padding-right: 10px;
    margin: 20px 0 0 0;
    color: dimgray;
}

#node-author-section{
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.node-author-section {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.node-author-section-inner {
    width: 40%;
    margin: 0 auto;
}

.node-author-section-inner img {
    width: 70px;
    margin-right: 15px;
}

.node-autor{
    margin: 15px 0 0 0;
    display: block;
}

.node-autor a{
    color: dimgrey;
    text-transform: capitalize;
}

.node-title {
    text-align: center;
    color: #000;
}

.node-article-wrapper {
    padding-right: 10px;
}

.node-body img {
    width: 100%;
    margin-bottom: 15px;
}

.node-image-caption{
    padding: 10px;
    background: #666;
    color: #FFF;
}

.node-nombre-wrapper{
    background-color: #0d88c1;
    color: white;
    padding: 20px;
    text-align: center;
}

.node-nombre-wrapper .node-title{
    color: white;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.node-nombre-wrapper .node-body{
    font-size: 2rem;
}

.related_nodes-title {
    font-size: 3rem;
}

.related_nodes ul li {
    padding: 10px 0 10px 0;
}

.related_nodes ul {
    color: deepskyblue;
}

.related_nodes ul li a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.newsletter-logo {
    width: 20%;
    display: inline-block;
}

.newsletter-title {
    display: inline-block;
    width: 73%;
    top: 17px;
    position: absolute;
    font-size: 2.5rem;
}

.newsletter-conditions {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.view-display-id-more_news_home {
    margin-top: 30px;
}

.contact-message-feedback-form label {
    display: none;
}

.footer-spotify-inner {
    width: 70%;
    margin: 0 auto;
}

#footer-spotify a {
    color: white;
    font-size: 2rem;
    margin-top: 2%;
    text-decoration: none;
}

#footer-social {
    background-color: #FFF;
    padding-top: 10px;
}

#footer-social h3 {
    margin: 0 !important;
    color: dimgrey;
}

#footer-social ul {
    width: 36%;
    margin: 0 auto;
    padding: 5px;
}

#footer-social ul li {
    display: inline-block;
}

.node-body iframe {
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}

.path-node .page-header, .path-taxonomy .page-header{
    display: none;
}

.node-category{
    text-align: center;
    margin-top: 10px;
}





#mailchimp-signup-subscribe-block-NaranXandul-form label {
    display: none;
}

#mailchimp-signup-subscribe-block-NaranXandul-form input[type="email"] {
    width: 66%;
    margin: 0 auto;
    border: solid 1px lightgray;
    border-radius: 0px;
    color: #666666;
    padding: 5px;
    text-align: center;
    font-size: 1.8rem
}

#mailchimp-signup-subscribe-block-NaranXandul-form .form-submit {
    background-color: darkorange;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 66%;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#newsletter-subscription .message {
    text-align: center;
    display: block;
    color: orange;
    font-size: 2.5rem;
    margin: 20px;
}

#mailchimp-signup-subscribe-block-NaranXandul-form-error-message {
    text-align: center;
    display: block;
    color: red;
    margin-bottom: 10px;
}

#edit-preview {
    display: none;
}

#player-logo {
    position: absolute;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
    left: -2px;
}

#player-logo img {
    width: 62px;
    height: auto;
}

#social-shares {
    height: 50px;
    left: 0;
    right: 0;
    z-index: 1000 !important;
    margin-bottom: 10px;
}

#social-shares-inner {
    margin: 0 auto;
    float: none;
}

#social-shares-inner img {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

#fb-share {
    width: 33%;
    height: 50px;
    background-color: darkblue;
    background: darkblue url(../images/btn_share_facebook.png) no-repeat;
    background-position: center;
    float: left;
}

#tw-share {
    width: 33%;
    height: 50px;
    background-color: deepskyblue;
    background: deepskyblue url(../images/btn_share_twitter.png) no-repeat;
    background-position: center;
    float: left;
}

#email-share {
    width: 33%;
    height: 50px;
    background-color: darkred;
    float: left;
}

#whatsapp-share {
    width: 33%;
    height: 50px;
    background-color: darkgreen;
    background: darkgreen url(../images/btn_share_whats_app.png) no-repeat;
    background-position: center;
    float: left;
}

#social-shares a {
    width: 100px;
    height: 70px;
    display: inline-block;
}

.node-head-text {
    display: inline-block;
    font-size: 2rem;
}

.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 0 !important;
    padding: 0 !important;
}

#newsletter-subscription .banner {
    max-height: 250px !important;
    overflow: hidden;
}

.radioListItem {
    border-bottom: solid 2px lightgrey;
    padding-bottom: 19px;
}
#block-naranxandul-piedepagina ul {
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    padding: 10px 0 10px 0;
    width: 60%;
    margin: 0 auto;
}

#block-naranxandul-piedepagina ul li {
    display: inline-block;
    float: left;
    margin: 0 15px 0 0;
    font-weight: bold;
}

#block-naranxandul-piedepagina ul li a {
    color: #000;
    text-align: center;
}


.view-display-id-nombres_indice a {
    margin: 10px 5px 20px 2px;
    padding: 7px 11px;
    border: solid 1px gray;
    background-color: lightgray;
    color: #000;
    border-radius: 5px;
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.view-display-id-nombres_page h3 {
    margin: 20px 0 0 0px;
    font-size: 5rem;
    text-align: left;
    !important;
}

.glossary-row-item {
    padding: 15px 5px 4px 0px;
    border-bottom: solid 1px lightgray;
}

.glossary-row-item a {
    color: deepskyblue;
}
