<div id="newsletter-subscription" class="sky-blue pall10 mt10">
    <div class="form-section pull-left col-sm-7">
        <div class="block PN3r0 text-bold ml10 text-upper">
            <span class="newsletter-logo"></span><span class="text-white newsletter-title">Más Música Banda</span>
        </div>
        <p class="text-white block text-center">
            Mantente al contacto y al día, Te enviaremos los mejor de tu música favorita!,
            solo dejanos tu email y nosotros hacemos los demás
        </p>
        <form method="POST">
        <input type="email" name="email" required class="block text-gray col-lg-8 pull-none text-center pall5 center" type="text" placeholder="Ingresa tu email" />
        <button type="submit" class="text-upper orange pall5 block col-lg-8 pull-none text-center mt10 center border-gray rounded">
            Quiero estar en contacto
        </button>
        </form>
        <span class="text-black block pall5 text-center mt10 pull-none newsletter-conditions">
            Al continuar estas aceptando nuestro Aviso de privacidad, nuestros Términos y condiciones de uso
        </span>
    </div>
    <div class="pull-right col-sm-5 mt30 banner">
        <img class="img-fluid" src="http://www.lacapitalmx.com/sites/all/themes/lacapitalmx/images/esnoticia.jpg" />
    </div>
    <div class="clear"></div>
</div>