<div class="nodeList-image">
    <a href="#">
        {{ fields.field_image.content }}
    </a>
</div>
<div class="nodeList-category">
    <a href="#">
        {{ fields.field_category.content }}
    </a>
</div>
<div class="nodeList-autor">
    Por {{ fields.uid.content }}
</div>
<div class="nodeList-title mb20">
    {{ fields.title.content }}
</div>