{% set category_name %}
  {{ drupal_field('name', 'taxonomy_term', rows.0.content['#row']._entity.fields.field_categoria.value.0.target_id) }}
{% endset %}

<div class="more-news">
  {% for index, row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    'panel',
    'panel-default',
    ]
    %}

    <h1 class="page-header">{{ category_name }}</h1>
    <div class="nodeListItem col-md-4 col-sm-6 col-xs-12">
      <div class="nodeListItemInner">
        {{ row.content }}
      </div>
    </div>
  {% endfor %}
  <div class="clear"></div>
</div>

<script>
  fbq('track', 'ViewContent', {
    value: {{ category_name }},
  });
</script>
