<div class="nombres-article" style="background-color: {{ (fields.field_fondo.content) ? fields.field_fondo.content:"lightgray" }};color: {{ (fields.field_color_fuente.content) ? fields.field_color_fuente.content:"black" }}">
    {{ fields.title.content }}
</div>
