<div>
    <div class="pleca-seccion">
        <span class="category-nombres"></span><a href="/nombres" class="text-upper">Nombres</a>
    </div>
    <div class="nombres-content">
        {% for index, row in rows | slice(0,3) %}
            {% set row_classes = [
                default_row_class ? 'views-row',
                'panel',
                'panel-default',
            ] %}

            <div class="col-xs-12 col-sm-6 col-md-4">
                {{ row.content }}
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="nombres-genero">
        <div class="col-sm-6 tacenter np-l nombres-genero-item">
            <div style="background-color: pink">
                <a class="tacenter" href="/nombres-nina">
                    <img width="80px" src="/themes/NaranXandul/images/nina.png"/>
                    Nombres de niñas
                </a>
            </div>
        </div>
        <div class="col-sm-6 tacenter np-l nombres-genero-item">
            <div style="background-color: #0c97ed">
                <a class="tacenter" href="/nombres-nino">
                    <img width="80px" src="/themes/NaranXandul/images/nino.png"/>
                    Nombres de niños
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <div class="nombres-glosary">
        <h3 class="text-center text-black">Busca nombres por letra</h3>
        {{ drupal_view('home', 'nombres_indice') }}
    </div>
    <div class="clear"></div>
</div>
