<div class="cursos-image mb3">
    <img width="180px" src="/themes/NaranXandul/images/logo_escuela_papas.png"/>
</div>

<div class="cursos-image">
    <img src="/themes/NaranXandul/images/cursos_naran_xadul.jpg"/>
</div>
<div class="cursos-text">
    <p>
        Ser mamá no es una tarea sencilla y la maternidad no trae ningún manual para ayudarnos. Por eso, hemos creado
        esta sección para ti. Una sección creada y desarrollada por nuestras expertas para acercarte a ti cursos donde
        buscamos resolver las dudas más comunes que presenta la maternidad y guiarte en este maravilloso camino.
        También, podrás hacer preguntas a nuestras expertas y ellas buscarán orientarte y apoyarte desde sus
        conocimientos y experiencias. Así, no te sentirás sola ni perdida, sino acompañada y guiada por nuestro
        maravilloso equipo de expertas Naranxadul.
    </p>
    <p>
        Estos cursos en línea te permitirán resolver tus dudas más importantes y guiarte en el momento que quieras, con
        la flexibilidad de tomarlos en el momento que puedas, con todo el conocimiento que nuestras expertas tienen a un
        costo accesible. Además, en muchos de ellos contarás con material adicional, ejercicios y/o consejos que puedes
        poner en práctica.
    </p>
</div>

<div class="cursos-block-wrapper">
{{ drupal_view('home', 'cursos_page_block1') }}
</div>

<div class="cursos-block-wrapper">
{{ drupal_view('home', 'cursos_page_block2') }}
</div>

<div class="cursos-block-wrapper">
{{ drupal_view('home', 'cursos_page_block3') }}
</div>

<div class="cursos-block-wrapper">
{{ drupal_view('home', 'cursos_page_block4') }}
</div>

<div class="questions-courses">
    <h2>
        Preguntas frecuentes
    </h2>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Cómo funcionan los cursos?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                Nadie nace sabiendo ser madre y muy difícilmente en las consultas con tu ginecólogo o con el pediatra
                tienes tiempo de hacer todas las preguntas que quieres o bien no encuentras las respuestas que
                necesitas. Además, muchas veces te encuentras sola en tu casa y tienes muchas dudas que no sabes a quién
                consultar. Ante estas situaciones a las que todas las mamás nos enfrentamos, hemos desarrollado para ti
                una serie de cursos tutoriales en el que nuestras expertas buscan explicarte los temas que más dudas
                generan en las mamás.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Cuáles son los temas que se cubren?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                En estos cursos buscamos cubrir todos los temas de interés que le importan a las mamás, tanto
                relacionados con el embarazo como con el nacimiento del bebé y su subsecuente desarrollo.
                Todos nuestros cursos se pueden englobar en los siguientes temas: embarazo, recién nacido,etapa
                preescolar, estimulación, crianza consciente y vida de mamá.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Qué pasa si tengo más dudas?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                Nuestros cursos están impartidos por expertas en los diferentes temas, que no solo tienen las mejores
                credenciales en sus respectivas áreas de experiencia, sino que, además, trabajan respondiendo dudas a
                mamás, interactúan con ellas y con sus niños y, en su mayoría, son mamás.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Quién imparte los cursos?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                En cada uno de los videos encontrarás una sección donde puedes exponer tus dudas y, a la brevedad
                posible, nuestras expertas te contestarán. Además, tendrás disponibles otras preguntas que más mamás
                hayan hecho con respecto al mismo tema y así podrás consultar todas las preguntas frecuentes sobre un
                mismo tema que vayan surgiendo a lo largo del tiempo.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Pueden estos cursos sustituir la consulta del médico?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                Estos cursos NO buscan sustituir la consulta con el médico. Siempre que consideres que tu salud o la de
                tu hijo esté involucrada, ante la menor duda que tengas, te aconsejamos acudir con el médico de tu
                confianza inmediatamente.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Pueden estos cursos sustituir la consulta del médico?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                Estos cursos NO buscan sustituir la consulta con el médico. Siempre que consideres que tu salud o la de
                tu hijo esté involucrada, ante la menor duda que tengas, te aconsejamos acudir con el médico de tu
                confianza inmediatamente.
            </p>
            <p>
                Solamente buscamos responder y orientar sobre las dudas más frecuentes que puedas tener tanto durante el
                embarazo como una vez que haya nacido tu bebé.
            </p>
        </div>
    </div>
    <div class="pregunta-item">
        <div class="pregunta-text">
            <span class="plus"><i class="fas fa-plus-circle"></i></span>
            <span class="minus hidden"><i class="fas fa-minus-circle"></i></span>
            <span>¿Cuándo puedo tomar la clase?</span>
        </div>
        <div class="pregunta-answer hidden">
            <p>
                Puedes tomar la clase en el momento que desees mientras dure la suscripción. Hemos diseñado estos cursos
                por módulos para que, si así lo deseas, puedas ver el módulo que te interesa las veces que lo creas
                conveniente.
            </p>
        </div>
    </div>
</div>
