<div class="curso-image">
<a href="#">
    {{ fields.field_image.content }}
</a>
</div>
<div class="nodeList-title">
     {{ fields.title.content }}
</div>
<div class="curso-link">
    <a href="{{ fields.path.content }}">Más información</a>
</div>