<div id="frases">
    <div class="pleca-seccion">
        <span class="category-frases"></span><a href="/frases" class="text-center text-upper">Frases Naran Xadul</a>
    </div>
    <div class="carrousel">
        {% for row in rows %}
            {% set row_classes = [
            default_row_class ? 'views-row',
            'panel',
            'panel-default',
            ] %}

            <div class="frases-item col-sm-4">
                {{ row.content }}
            </div>
        {% endfor %}
    </div>
</div>
