<div id="nombres">
    <div class="pleca-seccion">
        <span class="category-nombres"></span><a href="/nombres" class="text-upper">Nombres</a>
    </div>
    <div class="carrousel">
        {% for row in rows %}
            {% set row_classes = [
            default_row_class ? 'views-row',
            'panel',
            'panel-default',
            ] %}

            <div class="nombres-item col-sm-4">
                {{ row.content }}
            </div>
        {% endfor %}
    </div>
</div>
