{% if fields.field_image.content %}
    <div class="nodeList-body">
        {{ fields.field_image.content }}
    </div>
{% else %}
    <div class="nodeList-title">
        {{ fields.title.content }}
    </div>
    <div class="nodeList-body">
        {{ fields.body.content }}
    </div>
{% endif %}
