<div class="programa-item">
    <div class="conductor-info col-sm-12 col-md-12 col-xs-12">
        <span class="programa">{{ fields.title.content }}</span>
        <span class="conductor-name">{{ fields.field_horario.content }}</span>
        <span class="conductor-name">conducido por {{ fields.field_conductor.content }}</span>
    </div>
    <div class="clear"></div>
</div>