<div id="footer-brand">
        <a class="navbar-brand" href="#!">
            <img src="/themes/NaranXandul/logo.png" />
        </a>
</div>
<div id="footer-spotify" class="text-center text-white">
    <img src="/themes/NaranXandul/images/icono_correo.png" />
    <a href="/contact">Contacto</a>
</div>
<div id="foot-year" class="text-center text-white black">
    Derechos reservados 2017
</div>