<div id="footer-social" class="text-center text-white green">
    <a href="/">
        <img width="120px" src="/themes/NaranXandul/logo.png" />
    </a>
    <h3>¡Síguenos!</h3>
    <ul>
        <li class="col-5 bsbb pt5">
            <a href="https://www.facebook.com/soynaranjadulce/" class="fb-logo" target="_blank"></a>
        </li>
        <li class="col-5 bsbb pt5">
            <a href="https://www.youtube.com/channel/UCTVLVkNnzXDz9Zq-dNkj6hA" class="yt-logo" target="_blank"></a>
        </li>
        <li class="col-5 bsbb pt5">
            <a href="https://www.instagram.com/naranxadul/" class="insta-logo" target="_blank"></a>
        </li>
        <li class="clear"></li>
    </ul>
    <div class="clear"></div>
</div>
<div id="footer-brand">
       NARAN XADUL 2019
</div>
<!--
<div id="footer-spotify" class="text-center text-white">
    <img src="/themes/NaranXandul/images/icono_correo.png" />
    <a href="/contact">Contacto</a>
</div>
-->
