<div id="newsletter-subscription" class="mt10">
    <div class="newsletter-head-desktop">
        <img src="/themes/NaranXandul/images/mail_icono.png" />
    </div>
    <div id="newsletter-subscription-form" class="form-section pull-left col-sm-8 col-xs-12">
        <div id="newsletter-subscription-form-inner" class="col-xs-12 mt20">
            {{ content }}
            <div class="clear"></div>
            <span id="mailchimp-signup-subscribe-block-NaranXandul-mc-form-error-message"></span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <span class="text-white block pall5 text-center pull-none newsletter-conditions">
            Al continuar estas aceptando nuestro Aviso de privacidad.
    </span>
</div>