<div id="newsletter-subscription" class="mt10">
    <div class="newsletter-header pull-left col-sm-10 col-xs-11">
        <div class="nl-logo">
            <img src="/themes/NaranXandul/images/logo-cara.png">
        </div>
        <div class="col-sm-12 col-xs-12 text-center" style="text-align: center;display: block">
            <span class="text-center">ÚNETE A </span><span class="text-center" style="color:darkorange">NARANXADUL</span>
        </div>
    </div>
    <div id="newsletter-subscription-form" class="form-section pull-left col-sm-8 col-xs-12">
        <div id="newsletter-subscription-form-inner" class="col-xs-12 mt20">
            {{ content }}
            <div class="clear"></div>
            <span id="mailchimp-signup-subscribe-block-NaranXandul-mc-form-error-message"></span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="col-sm-12 col-xs-12 text-center" style="text-align: center;display: block; color:black;font-weight: bold">
        <span class="text-center block upper">Recibe los mejores consejos</span>
        <span class="text-center block upper" >Para una crianza feliz</span>
    </div>
    <span class="text-white block pall5 text-center pull-none newsletter-conditions">
        Al continuar estas aceptando nuestro <a target="_blank" href="/aviso-privacidad">Aviso de privacidad.</a>
    </span>
</div>
