<div id="footer-social" class="text-center text-white green">
    <h3>¡Síguenos!</h3>
    <ul>
        <li class="col-4 bsbb pt5">
            <a href="https://www.facebook.com/MasMusicaBanda/" class="fb-logo" target="_blank"></a>
        </li>
        <li class="col-4 bsbb pt5">
            <a href="https://twitter.com/masmusicabanda" class="tw-logo" target="_blank"></a>
        </li>
        <li class="col-4 bsbb pt5">
            <a href="https://www.youtube.com/user/MasMusicaBanda" class="yt-logo" target="_blank"></a>
        </li>
        <li class="col-4 bsbb pt5">
            <a href="https://www.instagram.com/masmusicabanda/" class="insta-logo" target="_blank"></a>
        </li>
        <li class="col-4 bsbb pt5">
            <a href="/contact" class="email-logo" target="_blank"></a>
        </li>
        <li class="clear"></li>
    </ul>
    <div class="clear"></div>
</div>
<div id="footer-brand">
        <a class="navbar-brand" href="#!">
            <img src="/themes/NaranXandul/logo.png" />
        </a>
</div>
<div id="footer-spotify" class="text-center text-white">
    <img src="/themes/NaranXandul/images/icono_correo.png" />
    <a href="/contact">Contacto</a>
</div>